rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tables/{document=**} {
      allow read, write: if true; // The backend uses the client SDK and is the only thing that has the config.
    }
  }
}
